*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
 color:#333;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  columns: #fff;
}

.button{
  width: 100%;
  padding: 8px 0;
  border-radius: 4px;
  background-color: red;
  color: #fff;
  cursor: pointer;
}

.button:hover{
  border: 1px solid blueviolet; 
  background-color: aquamarine;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
